body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 50vw;
}

#errors {
    color: coral;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    /* REMOVE IT'S ONLY TEMPORARY */
    background-color: greenyellow;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /* TEXT */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;


    /* REMOVE IT'S ONLY TEMPORARY */
    background-color: greenyellow;
}

.number {
    width: 48px;
    height: 48px;
    border: 1px solid black;

    /* TEXT */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}